.nv-main-container {
  position: relative;
  background-color: white;
  width: 100%;
}

// .nv-main-container::before {
//   content: "";
//   background-color: rgba(0, 0, 0, 0.697);
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;

//   //   z-index: -1;
// }
.nv-inside-main {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sponser-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.sponser-grid-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  width: 100%;
  height: 128px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;

  img {
    width: 100%;
  }
}
.nv-first-section {
  width: 100%;
  // margin: 0 40px;
  min-height: 85vh;
  background-color: #0a48b3;
  background-image: url("../assets/images/heroimage.svg");

  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0% 0% 30% 36% / 0% 0% 12% 12%;
  // display: flex;
  // //   flex-direction: column;
  // align-items: center;
  // justify-content: center;

  .nv-inside-first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 70vh;
    max-width: 60rem;
    // max-width: 60%;
    padding-left: 6%;

    h1 {
      word-wrap: break-word;
      font-size: 3rem;
      line-height: 1.2em;
      font-weight: 800;
      margin-bottom: 30px;
    }

    span {
      font-size: 1.5rem;
    }

    img {
      width: 80%;
      position: absolute;
      bottom: 20%;
    }
  }

  .nv-first-right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      // margin-bottom: 30px;
    }

    .nv-first-right-box {
      width: 100%;
      //   background-color: #af40ff;
    }
  }
}

.nv-second-section {
  width: 100%;
  padding: 5%;
  margin: 7% 0;
  position: relative;

  .nv-inside-second {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    // max-width: 1240px;

    .nv-card-back {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      text-align: left;
      padding: 30px 30px 30px 30px;
      background-color: transparent;
      background-image: linear-gradient(135deg, #172b4d 0, #0a48b3 100%);
      z-index: 1;
      transform: rotateY(180deg);
      border-radius: 20px;

      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        width: 70%;
      }

      span {
        font-size: 1.2rem;
        padding: 30px 0;
        word-wrap: break-word;
      }

      button {
        background-color: white;
        color: #172b4d;
        margin-bottom: 30px;
        border: 1px solid white;
        border-radius: 5px;
        // max-width: 40%;
        padding: 0.625rem 1.25rem;
        position: relative;
        transition: all 0.15s ease;
        font-size: 0.9rem;
        font-weight: 700;
        will-change: transform;
        text-transform: uppercase;
        line-height: 1.5;
        border-radius: 0.25rem;
      }
    }

    .nv-second-b1 {
      position: relative;
      height: 30rem;
      width: 20rem;
      transition: all 0.3s linear;
      transform-style: preserve-3d;
      margin: 0 10px;

      .nv-card1-front {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        position: absolute;
      }

      .nv-card1-front {
        background-image: url(https://wordpress-288344-1596643.cloudwaysapps.com/wp-content/uploads/2020/12/flipbox-1.jpg);
        background-size: cover;
        z-index: 2;
        backface-visibility: hidden;
        border-radius: 20px;
      }
    }

    .nv-second-b1:hover {
      transform: rotateY(180deg);
    }

    .nv-second-b2 {
      position: relative;
      height: 30rem;
      width: 20rem;
      transition: all 0.3s linear;
      transform-style: preserve-3d;
      margin: 0 10px;

      .nv-card2-front {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        position: absolute;
      }

      .nv-card2-front {
        background-image: url("../assets/images/flipbox-2.jpg");
        background-size: cover;
        z-index: 2;
        backface-visibility: hidden;
        border-radius: 20px;
      }
    }

    .nv-second-b2:hover {
      transform: rotateY(180deg);
    }

    .nv-second-b3 {
      position: relative;
      height: 30rem;
      width: 20rem;
      transition: all 0.3s linear;
      transform-style: preserve-3d;
      margin: 0 10px;

      .nv-card3-front {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        position: absolute;
      }

      .nv-card3-front {
        background-image: url("../assets/images/flipbox-3.jpg");
        background-size: cover;
        z-index: 2;
        backface-visibility: hidden;
        border-radius: 20px;
      }
    }

    .nv-second-b3:hover {
      transform: rotateY(180deg);
    }

    .nv-second-b4 {
      position: relative;
      height: 30rem;
      width: 20rem;
      transition: all 0.3s linear;
      transform-style: preserve-3d;
      margin: 0 10px;

      .nv-card4-front {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        position: absolute;
      }

      .nv-card4-front {
        background-image: url("../assets/images/flipbox-4.jpg");
        background-size: cover;
        z-index: 2;
        backface-visibility: hidden;
        border-radius: 20px;
      }
    }

    .nv-second-b4:hover {
      transform: rotateY(180deg);
    }
  }
}

.nv-third-section {
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .nv-third-left {
    width: 40%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .nv-third-right {
    background-color: #172b4d;
    width: 60%;
    max-height: 80vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      padding-bottom: 10px;
    }

    p {
      max-width: 70%;
      word-wrap: break-word;
      color: #9aadc2;
      padding-bottom: 10px;
    }

    .nv-third-right-button {
      padding-top: 20px;

      button {
        background-color: #2dce89;
        color: white;

        border: 1px solid #2dce89;
        border-radius: 5px;
        // max-width: 40%;
        border: 1px solid transparent;
        padding: 0.625rem 1.25rem;
        position: relative;
        transition: all 0.15s ease;
        font-size: 0.9rem;
        font-weight: 700;
        will-change: transform;
        text-transform: uppercase;
        line-height: 1.5;
        border-radius: 0.25rem;
      }
    }
  }
}

.nv-fourth-section {
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
  overflow: hidden;
  // padding: 5rem 1rem 3rem 3rem;

  .nv-fourth-left {
    // height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding: 130px 100px;
    width: 70%;

    .nv-fourth-left-first {
      width: 7.042%;
      height: 100%;
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      img {
        width: 64px;
      }

      h1 {
        color: black;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        flex-direction: column;
        text-align: left;
        margin: 0 10px 0 0;
        display: inline-flex;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        padding: 20px 0px;
      }
    }

    .nv-fourth-left-second {
      // max-width: 90%;
      min-width: 100%;
      padding-bottom: 10px;

      // height: 60%;
      .nv-fourth-button {
        width: 100%;
        margin-top: 30px;

        button {
          cursor: pointer;
          background-color: #0a48b3;
          color: white;
          border: 1px solid #0a48b3;
          border-radius: 5px;
          padding: 0.625rem 1.25rem;
          position: relative;
          transition: all 0.15s ease;
          font-size: 0.9rem;
          font-weight: 700;
          will-change: transform;
          text-transform: uppercase;
          line-height: 1.5;
          border-radius: 0.25rem;
        }
      }

      .nv-fourth-ques {
        border-left: 5px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background-color: white;

        .nv-fq-main {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid black;
          padding: 2%;

          .nv-pic-quest {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: nowrap;

            .nv-fq-pic {
              width: 64px;
              border-radius: 50%;

              img {
                border-radius: 50%;
                width: 100%;
              }
            }

            .nv-fq-quest {
              padding: 0 20px;

              h2 {
                color: black;
                font-size: 1.1rem;
                font-weight: 700;
                margin: 5px;
              }

              img {
                width: 16px;
              }

              span {
                padding: 0 5px;
                color: #9aadc2;
                font-size: 1rem;
              }
            }
          }
        }

        .nv-fq-voting {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          h2 {
            color: #172b4db9;
            text-align: center;
            margin: 0%;
            font-size: 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 20%;
          }

          p {
            text-align: center;
            color: #172b4dd2;
            margin: 0%;
            padding: 10%;
            font-size: 12px;
          }

          .nv-fq-voting-one,
          .nv-fq-voting-two {
            width: 3rem;
            margin: 0 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

  img.girl_image {
    // height: 20vh;
    height: 35rem;
    position: absolute;
    bottom: 0;
    right: -5%;
  }
}

.nv-fifth-section {
  width: 100%;
  // max-height: 50vh;
  // padding: 20%;
  background-color: #0a48b3;
  background-image: url("../assets/images/peoples.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .nv-fifth-bg {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(90deg, #172b4d 0, #0a48b3 100%);
    opacity: 0.95;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }

  .nv-inside-fifth {
    position: inherit;
    // width: 100%;
    min-height: 50vh;
    padding: 10%;
    // background-color: transparent;
    // background-image: linear-gradient(90deg, #172b4d 0, #0a48b3 100%);
    // opacity: .95;
    // transition: background .3s, border-radius .3s, opacity .3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nv-fifth-left {
      width: 40%;

      h1 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0%;
        width: 80%;
        word-wrap: break-word;
      }
    }

    .nv-fifth-right {
      width: 70%;

      .nv-fifth-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .nv-fg-item {
          background: rgba(23, 43, 77, 1);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border: 1px solid rgba(23, 43, 77, 0.5);
          box-shadow: 5px 5px 20px 0rgba (0, 0, 0, 0.25);
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          border-radius: 5px;

          .nv-grid-item-div {
            border-left: 1px solid #ffffff15;
            padding: 20px 20px;

            h2 {
              margin: 10px 0;
              font-size: 1.2rem;
              font-weight: 700;
              // width: 70%;
            }

            span {
              color: #9aadc2;
            }
          }

          svg {
            // padding: 10px 10px;
            fill: white;
            width: 25px;
            margin: 10px 20px;
          }
        }
      }
    }
  }
}

.nv-third-right-first {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5em;
  flex-direction: row;
  margin: 0 0 10px 0;
  color: #2dce89;
  padding-bottom: 10px;

  span {
    font-size: 1rem;
  }
}

.nv-third-right-first::before {
  content: "";
  width: 40px;
  min-width: 40px;
  height: 3px;
  background: #2dce89;
  align-self: center;
  margin: 0 10px 0 0;
}

.nv-third-right-first::after {
  width: 0;
  min-width: 0;
  height: 0;
  align-self: flex-start;
}

.nv-footer {
  margin-top: 200px;
  min-height: 50vh;
  background-color: #172b4d;
  border-radius: 36% 36% 0% 0% / 12% 12% 0% 0%;

  h1 {
    padding-top: 50px;
    font-size: 1.5rem;
    color: #f5f5f5;
    text-align: center;
  }

  .sponsers {
    margin: auto;
    width: 50%;
    // display: grid;
    // gap: 1rem;
  }
}
